In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("HotelOnlineReviews.txt", sep="|", error_bad_lines=False, decimal=",")

df.head()

b'Skipping line 12799: expected 21 fields, saw 23\n'
b'Skipping line 37247: expected 21 fields, saw 22\n'

,RevID,Source,HotelID,HotelType,HotelStars,HotelRooms,ObsDate,ObsDateTotalReviewsOnSite,ObsDateGlobalRating,RevDescription,...,RevUsername,RevUserLocation,RevPublishedDate,RevOverallRating,RevLocationRating,RevSleepQualityRating,RevRoomsRating,RevServiceRating,RevValueRating,RevCleanlinessRating
0,B377,Booking,1,Resort,4,158,2015-11-29,1092,8.8,Hotel is so centrally located with bars and...,...,John,Ireland,2015-11-12,10.0,-1,-1,-1,-1,-1,-1
1,B378,Booking,1,Resort,4,158,2015-11-29,1092,8.8,Room were big & comfortable.þ Very noisy at ni...,...,David,United Kingdom,2015-11-09,5.8,-1,-1,-1,-1,-1,-1
2,B379,Booking,1,Resort,4,158,2015-11-29,1092,8.8,right near the beach & breakfast good!þ Noisy ...,...,Dawn,Portugal,2015-11-07,7.5,-1,-1,-1,-1,-1,-1
3,B380,Booking,1,Resort,4,158,2015-11-29,1092,8.8,"The location is the best in Portimao, just acr...",...,Ron,USA,2015-10-29,9.2,-1,-1,-1,-1,-1,-1
4,B381,Booking,1,Resort,4,158,2015-11-29,1092,8.8,Hotel was clean and the staff helpful and frie...,...,Pat,Spain,2015-10-27,7.1,-1,-1,-1,-1,-1,-1

In [4]:
df2 = pd.read_excel("EcommerceCustomers.xlsx", sheet_name='Sheet1', engine='openpyxl')

df2.head()

,Email,Address,Avatar,Avg Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank TunnelWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer CommonDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582Cobbborough, DC ...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David ThroughwayPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez PassagePort Jacobville, PR 372...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

<h3>Data Processing</h3>

In [9]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
RevID,39421,39421,B31328,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Source,39421,2,Booking,27271,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HotelID,39421,NaN,NaN,NaN,29.8028,17.1571,1,16,28,40,66
HotelType,39421,2,City,23854,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HotelStars,39421,NaN,NaN,NaN,3.83638,0.793503,2,4,4,4,5
HotelRooms,39421,NaN,NaN,NaN,162.889,97.1148,17,70,152,224,369
ObsDate,39421,375,2016-04-24,1883,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ObsDateTotalReviewsOnSite,39421,NaN,NaN,NaN,1735.95,1489.9,3,648,1258,2382,6668
ObsDateGlobalRating,39421,NaN,NaN,NaN,7.23496,2.08405,3,4.5,8.2,8.8,10
RevDescription,39421,30470,þ,8451,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Language,39421,3,English,18848,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RevUsername,39256,17589,Anonymous,942,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RevUserLocation,36929,4060,Portugal,6375,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RevPublishedDate,39421,519,2016-03-29,246,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RevOverallRating,39421,NaN,NaN,NaN,7.14079,2.35378,0,5,7.9,9.2,10
RevLocationRating,39421,NaN,NaN,NaN,-0.671622,0.578889,-1,-1,-1,0,5
RevSleepQualityRating,39421,NaN,NaN,NaN,-0.583192,0.908503,-1,-1,-1,0,5
RevRoomsRating,39421,NaN,NaN,NaN,-0.691789,0.46176,-1,-1,-1,0,0
RevServiceRating,39421,NaN,NaN,NaN,-0.533548,1.0613,-1,-1,-1,0,5
RevValueRating,39421,NaN,NaN,NaN,-0.67842,0.538623,-1,-1,-1,0,5
RevCleanlinessRating,39421,NaN,NaN,NaN,-0.691662,0.462636,-1,-1,-1,0,5

In [10]:
df["normalizedRating"] = np.where(df["Source"] == "Booking", df["RevOverallRating"], df["RevOverallRating"] * 2)

df.head()

,RevID,Source,HotelID,HotelType,HotelStars,HotelRooms,ObsDate,ObsDateTotalReviewsOnSite,ObsDateGlobalRating,RevDescription,...,RevUserLocation,RevPublishedDate,RevOverallRating,RevLocationRating,RevSleepQualityRating,RevRoomsRating,RevServiceRating,RevValueRating,RevCleanlinessRating,normalizedRating
0,B377,Booking,1,Resort,4,158,2015-11-29,1092,8.8,Hotel is so centrally located with bars and...,...,Ireland,2015-11-12,10.0,-1,-1,-1,-1,-1,-1,10.0
1,B378,Booking,1,Resort,4,158,2015-11-29,1092,8.8,Room were big & comfortable.þ Very noisy at ni...,...,United Kingdom,2015-11-09,5.8,-1,-1,-1,-1,-1,-1,5.8
2,B379,Booking,1,Resort,4,158,2015-11-29,1092,8.8,right near the beach & breakfast good!þ Noisy ...,...,Portugal,2015-11-07,7.5,-1,-1,-1,-1,-1,-1,7.5
3,B380,Booking,1,Resort,4,158,2015-11-29,1092,8.8,"The location is the best in Portimao, just acr...",...,USA,2015-10-29,9.2,-1,-1,-1,-1,-1,-1,9.2
4,B381,Booking,1,Resort,4,158,2015-11-29,1092,8.8,Hotel was clean and the staff helpful and frie...,...,Spain,2015-10-27,7.1,-1,-1,-1,-1,-1,-1,7.1

In [11]:
meanRatingBySource = df.groupby("Source").mean()
meanRatingBySource

,HotelID,HotelStars,HotelRooms,ObsDateTotalReviewsOnSite,ObsDateGlobalRating,RevOverallRating,RevLocationRating,RevSleepQualityRating,RevRoomsRating,RevServiceRating,RevValueRating,RevCleanlinessRating,normalizedRating
Source,,,,,,,,,,,,,
Booking,29.116864,3.756665,150.432621,2049.218364,8.563672,8.437795,-1.000000,-1.000000,-1.0,-1.000000,-1.000000,-1.000000,8.437795
Tripadvisor,31.342305,4.015309,190.848148,1032.815967,4.252634,4.229630,0.065432,0.352346,0.0,0.513416,0.043374,0.000412,8.459259

In [ ]:
ag = df.groupby('Source').add({
    'normalizedRating': ['min', 'max', 'mean', lambda x: x.max() - x.min()],
    'RevID':
})