In [1]:
import pandas as pd

In [2]:
# Read DF

# Read the file from 2009 and 2010
url_09 = "https://raw.githubusercontent.com/nickolaslago/DataScience4Marketing/master/BDpM/Final%20Project/online-retail_2009-10.csv"

df = pd.read_csv(url_09, error_bad_lines=False, sep=";")

display(df)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,01/12/2009 07:45,"6,95",13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,01/12/2009 07:45,"6,75",13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,01/12/2009 07:45,"6,75",13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,01/12/2009 07:45,"2,1",13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,01/12/2009 07:45,"1,25",13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,09/12/2010 20:01,"2,95",17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,09/12/2010 20:01,"3,75",17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,09/12/2010 20:01,"3,75",17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,09/12/2010 20:01,"3,75",17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,09/12/2010 20:01,"1,95",17530.0,United Kingdom

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  object
 5   Price        525461 non-null  object
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 32.1+ MB