<h1>Libraries or Packages</h1>

In [1]:
import seaborn as sns
sns.__version__

'0.11.0'

In [3]:
import math

In [4]:
math.sqrt(9)

3.0

<h1>Numpy Introduction</h1>

In [6]:
import numpy as np

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame({
    'name': ['João', 'Ana', 'Nuno'],
    'age': [32, 57, 19],
    'insured': [True, False, True]
}, index=['A','B','C'])

In [9]:
df

   name  age  insured
A  João   32     True
B   Ana   57    False
C  Nuno   19     True